body{
    font-family: sans-serif;
    display:grid;
    background-color:#cae1ed;
    margin:50px;
    padding: 0;

}

.header-box {
    grid-column: auto;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr;
    padding: 16px;
    border-radius: 10px;
    background-color: #08608a;
    box-shadow: 5px 5px 10px #000000;
}
.footer-box {
    grid-column: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 16px;
    border-radius: 10px;
    background-color: #08608a;
    box-shadow: 5px 5px 10px #000000;
}

h1 {
    color: #f1f1f1;
    font-size: 8vw;
    text-align: center;
    text-shadow: 2px 2px 2px 2px #000000;
    margin-left: 4%;
    margin-top: 15%;
}
h2 {
    color: #252525;
    font-size: 30px;
    text-align: center;
    text-shadow: 2% 2% 5% #000000;
}

h3 {
    color: #b4b4b4;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px #000000;
    margin-top: 20px;
}
li {
    font-size: 20px;
    margin-top: 10px;
}

hr.divider1 {
    border-top: 3px solid rgb(94, 94, 94);
    margin-bottom: 30px;
}
hr.divider2 {
    border-top: 3px solid rgb(94, 94, 94);
    margin-top: 20px;
    margin-bottom: 20px;

}

.portrait-img {
    border: 2px solid #000000;
    width: 100%;
    height: auto;
    transition: transform .2s;
    box-shadow: 5px 5px 10px #000000;
    border-radius: 10px;
  }