@media only screen and (min-width: 1000px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 1.5rem;
    }

    img{
        max-width: 400px;
        width: 80%;
    }

    main section:nth-child(3) {
		grid-column: span 1;
	}
}
