body{
    padding:0;
    margin:0;
}

/* HEADER SECTION  */


header{
    padding: 5px 5px;
    display:grid;
    grid-area: header;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 50px;
}

.date{
    grid-column: 1/6;
    grid-row: 2/3;
    border: 1px solid #bbb;
    background-color: #aed6dcad;
    border-radius: 5px;
  }
.date h3 {
    font-size: 100%;
    text-align: center;
    color:#4a536b;
}

header img{
 
    width: 100%;
    height: 50%;
    grid-column: 2/3;
    grid-row: 1/2;
}

header h1 {
    color:#4a536b;
    font-size: 100%;
    text-align: left;
}
header h3{
    color:#36454f;
    font-size: 100%;
    text-align: left;
}
.headings{
    grid-column: 3/5 ;
    grid-row: 1/2;
}


h1, h2, h3, h4, h5 {
    font-family: Roboto, sans-serif;
    text-align: center;
    
}
.socialIcons{
    grid-column: 5/6;
    grid-row: 1/2;
    padding-top: 10px;
}


.fa {
    font-family: klavika-web, sans-serif;
    font-style: normal;
    font-weight: 300;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
.fa-linkedin {
   background: #007bb5;
   color: white;   
  }



/*      NAVIGATION          */

.ham{
    
    background: transparent;
    border: none;
    font-size: 2rem;
}
.navigation {

    font-size: 130%;
    padding: 1px;
    word-spacing: 8px;
    display: none;
    list-style: none;
    text-align: right;
}
.responsive{
    display:block;
    text-align: right;
  }

.navigation a{
    color:#4a536b;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

.navigation a:hover {
    background-color: #ff9a8d;
  }
#div.event{
    border-spacing: 15px 50px;
}


/*/////////////////// MAIN //////////////////*/

main div{
    background-color: #4a536b;
    /* min-height: 200px; */
    border-width: 0.1px;
    border-spacing: 10px;
    margin: 7px 7px;
    box-shadow: 5px 5px 5px  #1d1f25;
    border-radius: 5px;

}

main h2{
    text-align: left;
    font-family: Roboto, sans-serif;
    padding: 7px;
    line-height: 1.5em;
    font-size: 1.2em;
    font-weight: bolder;
    color:white;
    text-shadow: 5px 5px 10px #1d1f25;
    /* padding-top: 100px */
}

main p{
    text-align: left;
    font-family: Roboto, sans-serif;
    color:white;
    padding: 15px;
}

main h1{
    font-family: Roboto, sans-serif;
    text-align: center;
    padding: 15px;
    line-height: 1.5em;
    font-size: 1.5em;
    font-weight: bold;
    color:white;
    text-shadow: 1px 1px 10px white ;
}
.spotlight1, .spotlight2, .spotlight3{
    border-style: solid;
    border-color: #24283494;
    border-width: 0.1px;
    border-spacing: 10px;
    margin: 5px 5px;
}

.temp img{
    width: 100%;
    height: 25%;
}

.spotlight3{
    display: none;
}
.join{
    display: none;
}
.hero{
    position: relative;
}
.hero h1{
    position: absolute;
    text-shadow: 2px 2px 10px #3B5998 ;
    font-size: 150%;
}

.hero-img{
    width: 100%;
    height: 100%;
}

#banner{
    background-color: #36454fda;
    position: absolute;
    top:60%;
    color:white;
}

.hide{
    display: none;
}


.weather hr{
    padding-left: 0px;
}

.weather p{
    padding-left: 28%;
}
img#weathericon{
    padding-left: 35%;
}

.spotlight1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 15%;
    text-align: center;
}
.spotlight1 p {
    text-align: center;
}

.join{
    display: block;
    grid-column: 1/2;
    grid-row: 3/4;
}
.joinbutton{
    margin-left: 35%;
    background-color: #4caf50;
    border:none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    padding: 15px 32px;
    transition-duration: .4s;
    font-weight: bold;
    margin-top: 10px;
    text-shadow: 1px 1px 10px white ;
}
.joinbutton:hover{
    background-color: #4caf50;
    background-color: green;
}


/* FOOTER */

footer {
    padding: 5px 0;
    padding-left: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}


footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 80%;
}

footer h1 {
    color:#4a536b;
    font-size: 100%;
}
footer h3{
    color:#36454f;
    font-size: 65%;
}


.footerInfo{
    display: flex;
    flex-direction: column;
}
.footerInfoLarge{
    display:none;
}
hr {
    margin-left: 0;
    margin-right: 0;
  }


  /* DISCOVER PAGE */
  
.gallerycontainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

.gallerycontainer img{
    width: 100%;
    height: 100%;
  }
.gallery:hover {box-shadow: 0 0 50px #333;}


/* Form */

form{
    font-family: Roboto, sans-serif;
    margin: 40px;
    font-size: large;
}

form input:required{
    border-left:#007bb5 solid 6px;
}
form input:required:valid{
    border-left:green solid 6px;
}

label {
    font-family: Roboto, sans-serif;
    font-size: large;
    display:block;
    margin:5px;
}

textarea {
    height: 150px;
    width: 300px;
}

fieldset{
    display: block;
    width: 350px;
    height:auto;
    background-color:#ff9a8d;
}
input[type="submit" i]{
    display:flex;
}

/* /////////////////////////////*/
/* Directory */
@import url('https://fonts.googleapis.com/css2?family=Quantico&family=Ubuntu&display=swap');

.cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.cards section {
    border: 1px solid gray;
    background-color: lightblue;
    padding: 30px;
    text-align: center;
    width: 300px;
    margin: 20px;
}
.cards h2, .cards h1, .cards p {
    color: rgb(24, 24, 85);
    text-align: center;
    padding: 0%;
    font-family: 'Ubuntu', sans-serif;
}
.companyimg  {
    width: 90%;
    box-shadow: 5px 10px 8px 5px #888888;
    background-color: white;
}
.hidden{
    display: none;
}
/* //////////TABLE/////////// */

.directoryTable {
    width: auto;
    margin: 0 auto;
    background-color: rgb(159, 159, 197);
}

tr:nth-child(odd){
    background-color: white;
}

td, th {
    padding: 10px;
}

tr{
    font-family: 'Ubuntu', sans-serif;
    display:flex;
    flex-direction: column;
}

.menus{
    display: grid;
    grid-template-columns: 1fr 50px 40px 50px 1fr;
    grid-template-rows: 1fr;
}

#directory{
max-width: 50px;
box-shadow:none;
padding: 2px;
border:2px solid gray;
grid-column: 2/3;
border-radius: 8px;
}

#table{
 max-width: 50px;
 box-shadow:none;
 padding: 2px;
 border:2px solid gray;
 border-radius: 8px;
 grid-column: 4/5;
}


@media only screen and (min-width: 769px){
    tr{
        font-family: 'Ubuntu', sans-serif;
        display: table-row;    
    }
}