body{
    padding:0;
    margin:0;
}

/* HEADER SECTION  */


header{
    padding: 5px 5px;
    display:grid;
    grid-area: header;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 50px;
}

.date{
    grid-column: 1/6;
    grid-row: 2/3;
    border: 1px solid #bbb;
    background-color: #aed6dcad;
  }
.date h3 {
    font-size: 100%;
    text-align: center;
    color:#4a536b;
}

header img{
 
    width: 100%;
    height: 50%;
    grid-column: 2/3;
    grid-row: 1/2;
}

header h1 {
    color:#4a536b;
    font-size: 100%;
    text-align: left;
}
header h3{
    color:#36454f;
    font-size: 100%;
    text-align: left;
}
.headings{
    grid-column: 3/5 ;
    grid-row: 1/2;
}


h1, h2, h3, h4, h5 {
    font-family: Roboto, sans-serif;
    text-align: center;
}
.socialIcons{
    grid-column: 5/6;
    grid-row: 1/2;
}


.fa {
    
    padding: 10px;
    font-size: 12px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
.fa-linkedin {
   background: #007bb5;
   color: white;   
  }



/*      NAVIGATION          */

.ham{
    
    background: transparent;
    border: none;
    font-size: 2rem;
}
.navigation {

    font-size: 130%;
    padding: 1px;
    word-spacing: 8px;
    display: none;
    list-style: none;
    text-align: right;
}
.responsive{
    display:block;
    text-align: right;
  }

.navigation a{
    color:#4a536b;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

.navigation a:hover {
    background-color: #ff9a8d;
  }
#div.event{
    border-spacing: 15px 50px;
}


/*/////////////////// MAIN //////////////////*/

main div{
    background-color: #4a536b;
    min-height: 200px;
    border-style: solid;
    border-color: black;
    border-width: 0.1px;
    border-spacing: 10px;
    margin: 7px 7px;
    box-shadow: 5px 5px 5px  #1d1f25;
}

main h2{
    text-align: left;
    font-family: Roboto, sans-serif;
    padding: 7px;
    line-height: 1.5em;
    font-size: 1.2em;
    font-weight: bolder;
    color:white;
    text-shadow: 5px 5px 10px #1d1f25;
    padding-top: 100px
}

main p{
    text-align: left;
    font-family: Roboto, sans-serif;
    color:white;
    padding: 15px;
}

main h1{
    font-family: Roboto, sans-serif;
    text-align: center;
    padding: 15px;
    line-height: 1.5em;
    font-size: 1.5em;
    font-weight: bolder;
    color:white;
    text-shadow: 5px 5px 10px #142c30b6;
    text-shadow: 5px 5px 10px #1d1f25;
}
.spotlight1, .spotlight2, .spotlight3{
    border-style: solid;
    border-color: black;
    border-width: 0.1px;
    border-spacing: 10px;
    margin: 5px 5px;
}

.temp img{
    width: 100%;
}

.spotlight3{
    display: none;
}
.join{
    display: none;
}
.hero{
    position: relative;
}
.hero h1{
    position: absolute;
}
#banner{
    background-color: #36454fda;
    position: absolute;
    top:60%;
    color:white;
}

.hide{
    display: none;
}


.news p{
    padding-top: 60px;
}

.spotlight1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
}
.spotlight1 p {
    text-align: center;
}

.join h3{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    /* padding: 15px 15px; */
    border-radius: 10%;
    /* text-decoration: none; */
    /* display: block; */
    font-size: 16px;
    /* text-align: center; */
    cursor: pointer;
    width: 50%;
   
  
}


/* FOOTER */

footer {
    padding: 5px 0;
    padding-left: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}


footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 80%;
}

footer h1 {
    color:#4a536b;
    font-size: 100%;
}
footer h3{
    color:#36454f;
    font-size: 65%;
}


.footerInfo{
    display: flex;
    flex-direction: column;
}
.footerInfoLarge{
    display:none;
}
hr {
    margin-left: 0;
    margin-right: 0;
  }
